body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    margin:0;
    height: 100vh ;
    text-align: right;
    background-color: aliceblue;
    padding: 1px;
}

 .login-container {
    background-color: #fff;
    padding: 100px;
    text-align: center;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(22, 13, 26, 0.2);
 }

 .login-form input {
    padding:15px;
    width: 90%;
    border-radius: 10px;
    border: 1px solid lightslategray;
    margin-bottom: 10px;
 }

 .login-form button {
    width: 100%;
    padding: 15px;
    border-radius: 50px;
    border:1px salmon;
    background-color: #3498db;
    color: #fff;
    cursor:pointer ;
 }

 .login form button :hover {
    background-color: #3498db;
 }

 .login-form button :active {
    background-color: #3498db;
 }
 .login-form button.loding ::after {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    border-top: 2px solid transparent;
    border: 2px solid #fff;
    animation: spin 0.8 linear infinite;
 }

 @keyframes spin{
    to {
        transform: rotate(360deg);
    }
 }
 h1{
    margin-top: -71px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
 }

 h2 {
    height: 10px;
 }
 .img{
    width: 30%;
    height: 15%;
    margin-bottom: 100px;
 }
